# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.sqlite3

# Virtual environment
env/
venv/

# Django static/media
media/
staticfiles/

# IDEs & editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

.env
venv/
__pycache__/
*.pyc
db.sqlite3
staticfiles/
media/
