<div class="topbar">
  {% if user.is_authenticated %}
    <div class="dropdown">
      <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        👋 {{ user.username }}
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </div>
  {% endif %}
</div>
